.search-input{
  height: 23px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 25px;
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 15px;
  width: 97%;
}
.search-input::-webkit-input-placeholder { /* Edge */
  color: white;
  font-weight: 700;
}

.search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: white;
  font-weight: 700;
}

.search-input::placeholder {
  color: white;
  font-weight: 700;
}