.w-50{
  width: 50%;
}

.w-100{
  width: 100%;
}

.mr-37{
  margin-right: 37px;
}

.mb-10{
  margin-bottom: 10px;
}

.text-underline{
  text-decoration: underline;
}

.text-white{
  color: white;
}

.text-blue{
  color: #0067d1;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.d-flex{
  display: flex;
}

.float-left{
  float: left;
}

.overflow-hidden{
  overflow: hidden;
}

.font-weight-bold{
  font-weight: 900;
}